.void{
	background-color: #0E0B16 !important;
	color: white;
}
.void-l{
	background-color: #000000 !important;
	color: white;
}
.fuschia{
	background-color: #A239CA !important;
}
.jewel{
	background-color: #5F2FF5 !important;
}
.stark{
	background-color: #E7DFDD !important;
}
.navyblue {
	background-color: #18121E !important;
	color: white;
}